<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
        </div>
        <div class = "buscador">
            
        </div>
        <div class="buscador">
            <form action="" method="get">
                <div class="search-wrapper">
                    <input type="text" placeholder="Buscar productos, marcas" name="search">
                    <button type="submit" class="search-button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>
        <p class="header__text"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de
            crédito</p>
            <div class="nav-container">
                <nav>
                    <ul class="list-menu">
                        <li><a href="">Ofertas</a></li>
                        <li><a href="">Tiendas Oficiales</a></li>
                        <li><a href="">Vender</a></li>
                        <li><a href="">Ayuda</a></li>
                    </ul>
                </nav>
                <nav>
                    <ul class="list-menu">
                        <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                        <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                        <li><a href="">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                    </ul>
                </nav>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars fa-xl"></i>
            </div>
            <div class="banner-container">
                <img src="/images/img-home-banner.jpg" alt="">
            </div>   
    </header>

    <main>
        <div class="productos">
            <h3>Basado en tu última visita</h3>
            <section class="tarjetas">
                <article>
                    <div>
                        <img src="/images/img-cafetera-moulinex.jpg" alt="">
                    </div>
                    <div class="infoArticulo">
                        <div class="iconoCamion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="descuento-container">
                            <p class="precios">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>
                <article>
                    <div>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="">
                    </div>
                    <div class="infoArticulo">
                        <div class="iconoCamion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="descuento-container">
                            <p class="precios">$230.000</p>
                            <p class="descuento">20% off</p>
                        </div>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                </article>
                <article>
                    <div>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                    </div>
                    <div class="infoArticulo">
                        <div class="iconoCamion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="descuento-container">
                            <p class="precios">$70.500</p>
                            <p class="descuento">10% off</p>
                        </div>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article>
                    <div>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="">
                    </div>
                    <div class="infoArticulo">
                        <div class="iconoCamion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="descuento-container">
                            <p class="precios">$23.200</p>
                            <p class="descuento">5% off</p>
                        </div>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </section>
            <h3>Ofertas</h3>
            <section class="tarjetas">
                <article>
                    <div>
                        <img src="/images/img-cafetera-moulinex.jpg" alt="">
                    </div>
                    <div class="infoArticulo">
                        <div class="iconoCamion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="descuento-container">
                            <p class="precios">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>
                <article>
                    <div>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="">
                    </div>
                    <div class="infoArticulo">
                        <div class="iconoCamion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="descuento-container">
                            <p class="precios">$230.000</p>
                            <p class="descuento">20% off</p>
                        </div>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                </article>
                <article>
                    <div>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                    </div>
                    <div class="infoArticulo">
                        <div class="iconoCamion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="descuento-container">
                            <p class="precios">$70.500</p>
                            <p class="descuento">10% off</p>
                        </div>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article>
                    <div>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="">
                    </div>
                    <div class="infoArticulo">
                        <div class="iconoCamion">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="descuento-container">
                            <p class="precios">$23.200</p>
                            <p class="descuento">5% off</p>
                        </div>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
            </section>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <section>
                <i class="fa-solid fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <div class="section__text">
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>
            </section>
            <section>
                <i class="fa-solid fa-gift"></i>

                <h4>Envío gratis desde $ 2.500</h4>
                <div class="section__text">
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
            </section>
            <section>
                <i class="fa-solid fa-user-shield"></i>

                <h4>Seguridad, de principio a fin</h4>
                <div class="section__text">
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </div>
            </section>
            <div>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
            </div>
        </div>
    </footer>
</body>
</html>
